.product {
	background: #1e1e1e;
	border-radius: var(--border-radius);
	padding: 20px;
	height: 200px;
	position: relative;

	transition: all 0.2s ease-in-out;

	&:hover {
		&::after {
			border-color: #282828;
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: -7px;
		right: -7px;
		left: -7px;
		bottom: -7px;
		border: 2px solid transparent;
		border-radius: calc(var(--border-radius) + 6px);
		transition: all 0.2s ease-in-out;
	}

	h2 {
		font-size: 20px;
		font-weight: 400;
	}

	h3 {
		font-weight: 400;
	}

	.img {
		position: absolute;
		right: 20px;
		top: 20px;
		border-radius: 10px;
	}

	.link {
		position: absolute;
		z-index: 1;
		bottom: 20px;

		display: flex;
		gap: 1rem;

		a {
			color: #ff75fd;
		}
	}

	.arrow {
		position: absolute;
		bottom: 20px;
		right: 20px;
		z-index: 1;
		background: rgba($color: #000000, $alpha: 0.9);
		border-radius: 50%;
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		transition: all 0.2s ease-in-out;

		&:hover {
			transform: scale(1.05);
		}

		&:active {
			transform: scale(0.95);
		}
	}
}
